06-Spring-Boot-WebService/src/main/java/com/example/demo/client/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.demo.example.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MyWebServiceImplService" targetNamespace="http://service.demo.example.com">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.demo.example.com" elementFormDefault="unqualified" targetNamespace="http://service.demo.example.com" version="1.0">

  <xs:element name="show" type="tns:show"/>

  <xs:element name="showResponse" type="tns:showResponse"/>

  <xs:element name="showTwo" type="tns:showTwo"/>

  <xs:element name="showTwoResponse" type="tns:showTwoResponse"/>

  <xs:complexType name="showTwo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="showTwoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="show">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="showResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="showTwo">
    <wsdl:part element="tns:showTwo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showResponse">
    <wsdl:part element="tns:showResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="showTwoResponse">
    <wsdl:part element="tns:showTwoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="show">
    <wsdl:part element="tns:show" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MyWebServiceTest">
    <wsdl:operation name="showTwo">
      <wsdl:input message="tns:showTwo" name="showTwo">
    </wsdl:input>
      <wsdl:output message="tns:showTwoResponse" name="showTwoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <wsdl:input message="tns:show" name="show">
    </wsdl:input>
      <wsdl:output message="tns:showResponse" name="showResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiceImplServiceSoapBinding" type="tns:MyWebServiceTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="showTwo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="showTwo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="showTwoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="show">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="showResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebServiceImplService">
    <wsdl:port binding="tns:MyWebServiceImplServiceSoapBinding" name="MyWebServiceTestPort">
      <soap:address location="http://127.0.0.1:9090/user"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>